

.html{
    box-sizing: border-box;
  }

body{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.box{
    display: flex;
    background-color: red;
    flex-direction: column;
    justify-content: flex-start;
    border: 4px solid darkblue;
    width: 500px;
    height: 500px;  
}

 .display{
    display: flex;
    background-color: white;
    justify-content: flex-end;
    align-items: stretch; 
    border: 4px solid darkblue;
    margin: 5px;
   height: 100px;
}

.display p{
    display: flex;
    align-items: flex-end;
    padding-right: 10px;
    font-size: 50px;
    height:50px;
    overflow: hidden;
}

.buttons{
    border:4px solid green;
    display: flex;
    flex-wrap: wrap;
    
}  

.button {
    background-color: #4CAF50; 
    border: 3px solid blue;
    color: white;
    padding: 30px;
    text-align: center;
    font-size: 15 px;
    margin: 7px;
    cursor: pointer;
    border-radius: 12px;
    flex: 1 1 0;
  }
  
