

.html{
    box-sizing: border-box;
  }


body{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.box{
    display: flex;
    background-color: red;
    flex-direction: column;
    justify-content: space-between;
    border: 4px solid darkblue;
    width: 500px;
    height: 500px; 
}

 .display{
    display: flex;
    background-color: white;
    justify-content: flex-end;
    align-items: stretch; 
    border: 4px solid darkblue;
    margin: 5px;
   height: 100px;
}


.display p{
    display: flex;
    align-items: flex-end;
    align-items: st;
    padding-right: 10px;
    font-size: 50px;
    height:50px;

    
    
    
}


.button{
    border:4px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
}  